<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="./css/style.css">
        <script src="./js/index.js"></script>
    </head>
    <body>
        <h2>{{title}}</h2>
        <p>Created by {{name}}</p>
    </body>
</html>